
@{
    ViewBag.Title = "GetReq";
}

<html>
<head>
    <title>Product Search</title>
</head>
<body>
    <d1>
        <dt>Product Code</dt>
        <dd>
            @ViewBag.code
        </dd>
    </d1>

</body>
</html>

